@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>




<section class="features">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-up">Our Perposes</h2>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="~/SecondLayout/assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">
                <div class="row">
                    <div class="col-6" data-aos="fade-right">
                        <h2>$ 1M</h2>
                        <h3>in payment purpose</h3>
                    </div>
                    <div class="col-6" data-aos="fade-left">
                        <h2>2032</h2>
                        <h3>account management</h3>
                    </div>
                </div>
                <br /><br /><br />
                <div class="row">
                    <div class="col-6" data-aos="fade-right">
                        <h2>$302M</h2>
                        <h3>in wealth created</h3>
                    </div>
                    <div class="col-6" data-aos="fade-left">
                        <h2>U 202 Cridet</h2>
                        <h3>of finace issues</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-up">Services</h2>
        </div>
        <div class="row">
            <div class="col-sm-5 offset-lg-1" data-aos="fade-left">
                <div class="ml-5 ml-lg-0">
                    <h3>Payment</h3>
                    <p>Its is you way to send payment Its is you way to send payment</p>
                    <a href="#" class="btn btn-info pl-4 pr-4 pt-1 pb-1">Learn More</a>
                </div>
            </div>
            <div class="col-sm-5 offset-lg-1 mt-5 mt-lg-0" data-aos="fade-right">
                <div class="ml-5 ml-lg-0">
                    <h3>Management</h3>
                    <p>Its is you way to send payment Its is you way to send payment</p>
                    <a href="#" class="btn btn-info pl-4 pr-4 pt-1 pb-1">Learn More</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-sm-12">
                <center>
                    <img src="~/assets/img/undraw_Chatting_re_j55r.svg" class="img-fluid" style="width:500px;" />
                </center>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-5 offset-lg-1" data-aos="fade-left">
                <div class="ml-5 ml-lg-0">
                    <h3>Wealth Generation</h3>
                    <p>Its is you way to send payment Its is you way to send payment</p>
                    <a href="#" class="btn btn-info pl-4 pr-4 pt-1 pb-1">Learn More</a>
                </div>
            </div>
            <div class="col-sm-5 offset-lg-1 mt-5 mt-lg-0" data-aos="fade-right">
                <div class="ml-5 ml-lg-0">
                    <h3>Education</h3>
                    <p>Its is you way to send payment Its is you way to send payment</p>
                    <a href="#" class="btn btn-info pl-4 pr-4 pt-1 pb-1">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    
</section>





<!-- ======= Pricing Section ======= -->
<section class="pricing section-bg" data-aos="fade-up">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-up">Subscriptions</h2>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-4 box" data-aos="fade-left">
                <h3>Free</h3>
                <h4>$0<span>per month</span></h4>
                <ul>
                    <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                    <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                    <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                    <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                    <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                </ul>
                <a href="#" class="get-started-btn">Get Started</a>
            </div>

            <div class="col-lg-4 box featured" data-aos="fade-up">
                <h3>Business</h3>
                <h4>$29<span>per month</span></h4>
                <ul>
                    <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                    <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                    <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                    <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                    <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                </ul>
                <a href="#" class="get-started-btn">Get Started</a>
            </div>

            <div class="col-lg-4 box" data-aos="fade-right">
                <h3>Developer</h3>
                <h4>$49<span>per month</span></h4>
                <ul>
                    <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                    <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                    <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                    <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                    <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                </ul>
                <a href="#" class="get-started-btn">Get Started</a>
            </div>

        </div>

    </div>
</section>

<section class="features">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-up">Community</h2>
            <p data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="fade-up">
                <center>
                    <img src="~/assets/img/undraw_work_chat_erdt.svg" class="img-fluid" style="width:500px;" />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a href="#" class="btn btn-info pl-5 pr-5 pt-1 pb-1">Register</a>
                </center>
            </div>
        </div>
    </div>
</section>

<section class="features section-bg" data-aos="fade-up">
    <div class="container">
        <div class="row pl-5 pr-5 pt-0 pb-0">
            <div class="col-md-6" data-aos="fade-up">
                <center>
                    <h3>Ready To Get Startetd?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br />Lorem Ipsum has been the industry.</p>
                    <br />
                    <a href="#" class="btn btn-info pl-5 pr-5 pt-1 pb-1">Register</a>
                </center>

            </div>
            <div class="col-md-6 mt-5 mt-lg-0" data-aos="fade-up">
                <center>
                    <h3>Ready To Get Startetd?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br />Lorem Ipsum has been the industry.</p>
                    <br />

                </center>
                <div class="row justify-content-center pl-5 pr-5 pt-0">
                    <div class="col-6">
                        <a href="#" class="btn btn-info pl-5 pr-5 pt-1 pb-1 ml-3">FAQ</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-info pl-3 pr-3 pt-1 pb-1 pull-right">Contact Us</a>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row pl-5 pr-5 pt-0 pb-0">
            <div class="col-sm-6" data-aos="fade-left">
                <div class="section-title">
                    <h2 data-aos="fade-up">Events</h2>
                </div>
              
                <ul class="list-unstyled text-center">
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                </ul>
            </div>
            <div class="col-sm-6" data-aos="fade-right">
                <div class="section-title">
                    <h2 data-aos="fade-up">Events</h2>
                </div>
                <ul class="list-unstyled text-center">
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                    <li><p><b>09:01:23</b>&nbsp;<span>Lorem Ipsum is simply dummy text of the printing  industry.</span></p></li>
                </ul>
            </div>
        </div>
    </div>
</section>



@*<style>
        * {
            box-sizing: border-box;
        }

        .item {
            width: 200px;
            height: 200px;
            margin: 50px auto;
            padding-top: 75px;
            background: #ccc;
            text-align: center;
            color: #FFF;
            font-size: 3em;
        }
    </style>*@

<script>
    AOS.init();
</script>
